body {
    background-color: rgba(192, 192, 192, 0.746);
    margin: 0;
    padding-top: 250px; /* Add padding to the top to make space for the image */
}

header {
    background-color: navy;
    color: white;
    font-family: "Times New Roman", sans-serif;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 20px;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.863);
    font-size: 20px;
    padding-left: 0;
    margin-top: 250px; /* Adjust the top margin to position the navbar below the image */
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0;
}

.vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 998;
}
